@mixin lnk() {
    color: var(--text-link-color);
    font-weight: bold;
  
    &:hover {
      text-decoration: underline;
    }
}

@mixin btn {
    margin: 1rem;
    background: #00acc6;
    color: #fff;
    padding: 0.7rem;
    border-radius: 10px;

    &:hover {
        box-shadow: var(--box-shadow)
    }
}