:root {
    --primary-bg-color: #fff;
    --primary-text-color: #5b6770;
    --danger-light-color: #c71a1a;
    --submit-light-color: #32CD32;

    --nav-bar-bg-color: #ff8200;

    --box-shadow: 0 7px 6px 0 rgba(0,0,0,0.20), 0 7px 6px 0 rgba(0,0,0,0.20);
}